<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <title>Claws Mail Git Debian Packages Autobuilder Status</title>
 <link rel="stylesheet" href="index.css" type="text/css" />
</head>
<body>
<div class="content">
 <h1>
  <a href="http://www.claws-mail.org/">Claws Mail</a>
  <a href="http://git.claws-mail.org/">Git</a>
  <a href="http://packages.debian.org/sid/claws-mail">Debian Packages</a>
  <a href="http://hydra.debian.net">Autobuilder</a>
 </h1>
 <table>
  <tr>
   <td class="cell0">Source:</td>
   <td class="cell1"><span class="<TMPL_VAR NAME=SOURCE_STATUS>"><TMPL_VAR NAME=SOURCE_STATUS></span><br /><b>Last updated: </b><TMPL_VAR NAME=SOURCE_LAST></td>
  </tr>
  <tr>
   <td class="cell0">Version:</td>
   <td class="cell1"><TMPL_VAR NAME=VERSION></td>
  </tr>
<TMPL_LOOP NAME=ARCHITECTURES>
  <tr>
   <td class="cell0"><a href="<TMPL_VAR NAME=ARCH_NAME>.html"><TMPL_VAR NAME=ARCH_NAME></a></td>
   <td class="cell1"><span class="<TMPL_VAR NAME=ARCH_STATUS>"><TMPL_VAR NAME=ARCH_STATUS></span><br /><b>Last updated: </b><TMPL_VAR NAME=ARCH_LAST></td>
  </tr>
</TMPL_LOOP>
 </table>
 <p class="footp">
 |<a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a>|<a href="http://jigsaw.w3.org/css-validator/">Valid CSS</a>|<a href="https://github.com/mones/hydra">Source for this</a>|<a href="mailto:mones@debian.org">Copyright (C) 2008-2013 Ricardo Mones</a>|
 </p>
 <p class="footp">
 |<a href="http://www.gplhost.com/">VPS host thanks to Thomas Goirand (zigo at debian dot org)</a>|
 </p>
</div>
</body>
</html>
